# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
build/
test/

# Binaries
gossiper
Gossiper
tests/.test_hw2_ex1.sh.swp
tests/tests_hw2.zip
tests/tests_hw2/
